.education-container {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.education__container--heading > h2 {
  font-size: 2.8rem;
}

.education__container--heading .underline {
  width: 400px;
  height: 5px;
  background-color: black;
  margin-bottom: 8rem;
}

@media screen and (max-width: 407px) {
  .education__container--heading .underline {
    width: 180px;
  }
}

.education__info > p {
  margin: 1rem 0;
  font-family: var(--primary-font);
}

.education__heading--icon {
  position: absolute;
  top: -10%;
  background-color: #a160d4;
  padding: 1.4rem 1.6rem;
  border-radius: 50%;
  color: white;
}
