.hero-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url("../../../resources/illustrations/SVG//Asset\ 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero-content {
  transform: translate(5%, 40%);
}

.hero-content .user-greeting {
  margin: 0.5rem 0;
}

.hero-content .user-greeting > h1 {
  font-size: 3rem;
  font-weight: 800;
}

.hero-content .user-field {
  margin: 2rem 0;
}

.hero-content .user-field h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

.hero-content .user-portfolio {
  margin: 2.5rem 0 0;
}

.hero-content .user-portfolio .view-btn {
  font-weight: 600;
  border: 3px solid var(--secondary-color);
  padding: 0.8rem 3rem;
  text-transform: uppercase;
  color: var(--secondary-color);
  cursor: pointer;
}

.hero-content .user-portfolio .view-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

@media screen and (max-width: 421px) {
  .hero-content {
    transform: translate(5%, 90%);
  }

  .hero-content .user-greeting > h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  .hero-content .user-field h3 {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
