.skills-container {
  min-height: 100vh;
  width: 90%;
  margin: 3rem auto;
  position: relative;
}

.skills-container--heading {
  margin-bottom: 3.5rem;
}

.skills-container .skills-container--heading > h2 {
  font-size: 2.8rem;
}

.skills-container--heading .underline {
  width: 150px;
  height: 5px;
  background-color: black;
}

.illustration--triangle {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 15%;
  left: 30%;
}

.illustration--star {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 20%;
  right: 25%;
}

.illustration--circle {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 5%;
  bottom: 15%;
}
