.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
  height: 15vh;
  cursor: pointer;
}

.navbar {
  position: absolute;
  top: 0%;
  width: 100vw;
  background-color: rgb(44, 44, 44);
  height: 0px;
  overflow: hidden;
  z-index: 1000;
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 455px) {
  .navbar__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    margin: 0 0 0 2rem;
  }

  .navbar-open {
    height: 50vh;
    transition: all 0.5s ease-in;
  }
}

.navbar__list .navbar__list--item {
  font-size: 1.2rem;
  padding: 1.2rem 0;
}

.navbar__list .navbar__list--item a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-close {
  position: absolute;
  right: 5%;
  top: 5%;
}

.navbar-close--btn svg {
}

@media screen and (max-width: 450px) {
  .navbar__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .navbar-open {
    height: 100vh;
    transition: all 0.5s ease-in;
  }
}
